<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MC.AdministracionTienda.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MC.Windows.My.MySettings.MC_ComprasConnectionString" connectionString="Data Source=192.168.4.75;Initial Catalog=ALMACEN;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="MC.Windows.My.MySettings.MC_VentasConnectionString" connectionString="Data Source=192.168.4.75;Initial Catalog=INFOREST;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="MC.Windows.My.MySettings.MC_MARCADORConnectionString" connectionString="Data Source=192.168.4.75;Initial Catalog=MC_MARCACION;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
    <!--cambios en main<add name="MC.Windows.My.MySettings.MC_MARCADORConnectionString" connectionString="Data Source=192.168.4.75;Initial Catalog=MC_MARCACION;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />-->

    <add name="MC.Windows.My.MySettings.MC_CODIGOENTELConnectionString" connectionString="Data Source=192.168.6.97;Initial Catalog=BD_CODIGO_ENTEL;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="MC.Windows.My.MySettings.MC_CentralConnectionString" connectionString="Data Source=192.168.6.97;Initial Catalog=MC_CENTRAL;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="MC.Windows.My.MySettings.MC_VentasCentralConnectionString" connectionString="Data Source=192.168.6.97;Initial Catalog=MC_VENTAS;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="MC.Windows.My.MySettings.MC_ComprasCentralConnectionString" connectionString="Data Source=192.168.6.97;Initial Catalog=MC_COMPRAS;User ID=desarrollo;Password=sistemas" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Usuario" value="JCRUZ" />
    <add key="Skin" value="DevExpress Style" />
    <add key="IdLocal" value="0" />
    <add key="Caja" value="001" />
    <add key="FuenteSize" value="8" />
    <add key="FuenteStyle" value="0" />
    <add key="FuenteName" value="Tahoma" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TipoConexion" value="L" />
    <!--C=ejecutado en macroscem, L=local-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MC.AdministracionTienda.My.MySettings>
      <setting name="skin" serializeAs="String">
        <value>Office 2010 Blue</value>
      </setting>
      <setting name="FuenteSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="FuenteName" serializeAs="String">
        <value>Tahoma</value>
      </setting>
      <setting name="FuenteStyle" serializeAs="String">
        <value>Normal</value>
      </setting>
    </MC.AdministracionTienda.My.MySettings>
  </userSettings>
</configuration>